<html>

	<head>
		<title> 52Leverage Blog</title>
	</head>

	<body>
		<div>
			<h1><a href="">52Levarage</a></h1>
			<h2> On-demand. Investment models</h2>
		</div>

		<div>
			<p>published: 14.03.2016, 12:01</p>
			<h2><a href="">My first post</a></h2>
			<P>A quick look at the World Bank data on GDP per capita, which measures the average wealth per person, across selected countries reveals a strong catch-up game between Nigeria and South Africa. In 1990, an average South African was 10x richer than an average Nigerian. 23 years after (in 2013)</P>

		</div>

		<div>
			<p>published: 14.03.2016, 12:01</p>
			<h2><a href="">My second post</a></h2>
			<P>A quick look at the World Bank data on GDP per capita, which measures the average wealth per person, across selected countries reveals a strong catch-up game between Nigeria and South Africa. In 1990, an average South African was 10x richer than an average Nigerian. 23 years after (in 2013)</P>
		</div>
	
	</body>

</html>